# Database Configuration for Serhafen US (serhafen_common/us schema)
DB_BU1_US_HOST=localhost
DB_BU1_US_PORT=5432
DB_BU1_US_USERNAME=postgres
DB_BU1_US_PASSWORD=password
DB_BU1_US_DATABASE=serhafen_common
DB_BU1_US_SCHEMA=us


# Database Pool Configuration
DB_POOL_MIN=2
DB_POOL_MAX=10
DB_POOL_IDLE=10000
